# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.mypy_cache/

# uv
.uv/

# Node
node_modules/
.nuxt/
.output/

# IDE
.vscode/
.idea/

# Env
.env

# Coverage
coverage.xml
htmlcov/

# Logs
*.log
